# Pandas
Pandas is a fast, powerful, flexible and easy to use open source data analysis and manipulation tool,
built on top of the Python programming language.

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('data/survey_results_public.csv')

In [3]:
# shape of dataframe
df.shape

(64461, 61)

In [4]:
# get info
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 64461 entries, 0 to 64460
Data columns (total 61 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Respondent                    64461 non-null  int64
 1   MainBranch                    64162 non-null  object
 2   Hobbyist                      64416 non-null  object
 3   Age                           45446 non-null  float64
 4   Age1stCode                    57900 non-null  object
 5   CompFreq                      40069 non-null  object
 6   CompTotal                     34826 non-null  float64
 7   ConvertedComp                 34756 non-null  float64
 8   Country                       64072 non-null  object
 9   CurrencyDesc                  45472 non-null  object
 10  CurrencySymbol                45472 non-null  object
 11  DatabaseDesireNextYear        44070 non-null  object
 12  DatabaseWorkedWith            49537 non-null  object
 13  DevType                       49370 non-null  object
 14  EdLevel                       57431 non-null  object
 15  Employment                    63854 non-null  object
 16  Ethnicity                     45948 non-null  object
 17  Gender                        50557 non-null  object
 18  JobFactors                    49349 non-null  object
 19  JobSat                        45194 non-null  object
 20  JobSeek                       51727 non-null  object
 21  LanguageDesireNextYear        54113 non-null  object
 22  LanguageWorkedWith            57378 non-null  object
 23  MiscTechDesireNextYear        42379 non-null  object
 24  MiscTechWorkedWith            40314 non-null  object
 25  NEWCollabToolsDesireNextYear  47287 non-null  object
 26  NEWCollabToolsWorkedWith      52883 non-null  object
 27  NEWDevOps                     42686 non-null  object
 28  NEWDevOpsImpt                 41732 non-null  object
 29  NEWEdImpt                     48465 non-null  object
 30  NEWJobHunt                    42286 non-null  object
 31  NEWJobHuntResearch            41022 non-null  object
 32  NEWLearn                      56156 non-null  object
 33  NEWOffTopic                   50804 non-null  object
 34  NEWOnboardGood                42623 non-null  object
 35  NEWOtherComms                 57205 non-null  object
 36  NEWOvertime                   43231 non-null  object
 37  NEWPurchaseResearch           37321 non-null  object
 38  NEWPurpleLink                 54803 non-null  object
 39  NEWSOSites                    58275 non-null  object
 40  NEWStuck                      54983 non-null  object
 41  OpSys                         56228 non-null  object
 42  OrgSize                       44334 non-null  object
 43  PlatformDesireNextYear        50605 non-null  object
 44  PlatformWorkedWith            53843 non-null  object
 45  PurchaseWhat                  39364 non-null  object
 46  Sexuality                     43992 non-null  object
 47  SOAccount                     56805 non-null  object
 48  SOComm                        56476 non-null  object
 49  SOPartFreq                    46792 non-null  object
 50  SOVisitFreq                   56970 non-null  object
 51  SurveyEase                    51802 non-null  object
 52  SurveyLength                  51701 non-null  object
 53  Trans                         49345 non-null  object
 54  UndergradMajor                50995 non-null  object
 55  WebframeDesireNextYear        40024 non-null  object
 56  WebframeWorkedWith            42279 non-null  object
 57  WelcomeChange                 52683 non-null  object
 58  WorkWeekHrs                   41151 non-null  float64
 59  YearsCode                     57684 non-null  object
 60  YearsCodePro                  46349 non-null  object
dtypes: float64(4), int64(1), object(56)
memory usage: 30.0+ MB

In [5]:
pd.set_option('display.max_columns', 61)
pd.set_option('display.max_rows', 61)

In [6]:
schema_df = pd.read_csv('data/survey_results_schema.csv')

# read top 10. default is 5
schema_df.head(10)

          Column                                       QuestionText
0     Respondent  Randomized respondent ID number (not in order ...
1     MainBranch  Which of the following options best describes ...
2       Hobbyist                            Do you code as a hobby?
3            Age  What is your age (in years)? If you prefer not...
4     Age1stCode  At what age did you write your first line of c...
5       CompFreq   Is that compensation weekly, monthly, or yearly?
6      CompTotal  What is your current total compensation (salar...
7  ConvertedComp  Salary converted to annual USD salaries using ...
8        Country                                 Where do you live?
9   CurrencyDesc  Which currency do you use day-to-day? If your ...

### Series
Series is a one-dimensional array like structure with homogeneous data.

### Dataframes
DataFrame is a two-dimensional array with heterogeneous data.

In [7]:
# converting dictionary into dataframe
people = {
    "first": ["Corey", 'Jane', 'John'], 
    "last": ["Schafer", 'Doe', 'Doe'], 
    "email": ["CoreyMSchafer@gmail.com", 'JaneDoe@email.com', 'JohnDoe@email.com']
}

df1 = pd.DataFrame(people)

df1

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@email.com
2   John      Doe        JohnDoe@email.com

In [8]:
# access single column
print(df1['last'])

# access multiple columns
df1[['first','email']]

0    Schafer
1        Doe
2        Doe
Name: last, dtype: object

   first                    email
0  Corey  CoreyMSchafer@gmail.com
1   Jane        JaneDoe@email.com
2   John        JohnDoe@email.com

In [9]:
# grab the columns
df1.columns

Index(['first', 'last', 'email'], dtype='object')

In [10]:
# get a row with loc and iloc

# with iloc we search with index
df1.iloc[[0,2], 2]

0    CoreyMSchafer@gmail.com
2          JohnDoe@email.com
Name: email, dtype: object

In [11]:
# with loc we search with label
df1.loc[[0,1], ['last','email']]

      last                    email
0  Schafer  CoreyMSchafer@gmail.com
1      Doe        JaneDoe@email.com

In [12]:
# find from survey how many users code as `hobby`
df['Hobbyist'].value_counts()

Yes    50388
No     14028
Name: Hobbyist, dtype: int64

In [13]:
# get first 10 hobbyist to CompFreq
df.loc[0:10, 'Hobbyist':'CompFreq']

   Hobbyist   Age Age1stCode CompFreq
0       Yes   NaN         13  Monthly
1        No   NaN         19      NaN
2       Yes   NaN         15      NaN
3       Yes  25.0         18      NaN
4       Yes  31.0         16      NaN
5        No   NaN         14      NaN
6       Yes   NaN         18  Monthly
7       Yes  36.0         12   Yearly
8        No  30.0         20      NaN
9       Yes  22.0         14   Yearly
10      Yes  23.0         13   Yearly

### Indexes

In [14]:
df1.set_index('email', inplace=True)

print(df1.index)

# access an index
df1.loc['JohnDoe@email.com']

Index(['CoreyMSchafer@gmail.com', 'JaneDoe@email.com', 'JohnDoe@email.com'], dtype='object', name='email')

first    John
last      Doe
Name: JohnDoe@email.com, dtype: object