# Pandas
Pandas is a fast, powerful, flexible and easy to use open source data analysis and manipulation tool,
built on top of the Python programming language.

In [1]:
# import pandas

import pandas as pd

In [2]:
# load survey data and schema 

na_values = ['NA', 'Missing']

df = pd.read_csv('data/survey_results_public.csv', index_col='Respondent', na_values=na_values)

schema_df = pd.read_csv('data/survey_results_schema.csv', index_col='Column')

In [3]:
# shape of dataframe
df.shape

(64461, 60)

In [4]:
# get info
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 64461 entries, 1 to 65112
Data columns (total 60 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   MainBranch                    64162 non-null  object
 1   Hobbyist                      64416 non-null  object
 2   Age                           45446 non-null  float64
 3   Age1stCode                    57900 non-null  object
 4   CompFreq                      40069 non-null  object
 5   CompTotal                     34826 non-null  float64
 6   ConvertedComp                 34756 non-null  float64
 7   Country                       64072 non-null  object
 8   CurrencyDesc                  45472 non-null  object
 9   CurrencySymbol                45472 non-null  object
 10  DatabaseDesireNextYear        44070 non-null  object
 11  DatabaseWorkedWith            49537 non-null  object
 12  DevType                       49370 non-null  object
 13  EdLevel                       57431 non-null  object
 14  Employment                    63854 non-null  object
 15  Ethnicity                     45948 non-null  object
 16  Gender                        50557 non-null  object
 17  JobFactors                    49349 non-null  object
 18  JobSat                        45194 non-null  object
 19  JobSeek                       51727 non-null  object
 20  LanguageDesireNextYear        54113 non-null  object
 21  LanguageWorkedWith            57378 non-null  object
 22  MiscTechDesireNextYear        42379 non-null  object
 23  MiscTechWorkedWith            40314 non-null  object
 24  NEWCollabToolsDesireNextYear  47287 non-null  object
 25  NEWCollabToolsWorkedWith      52883 non-null  object
 26  NEWDevOps                     42686 non-null  object
 27  NEWDevOpsImpt                 41732 non-null  object
 28  NEWEdImpt                     48465 non-null  object
 29  NEWJobHunt                    42286 non-null  object
 30  NEWJobHuntResearch            41022 non-null  object
 31  NEWLearn                      56156 non-null  object
 32  NEWOffTopic                   50804 non-null  object
 33  NEWOnboardGood                42623 non-null  object
 34  NEWOtherComms                 57205 non-null  object
 35  NEWOvertime                   43231 non-null  object
 36  NEWPurchaseResearch           37321 non-null  object
 37  NEWPurpleLink                 54803 non-null  object
 38  NEWSOSites                    58275 non-null  object
 39  NEWStuck                      54983 non-null  object
 40  OpSys                         56228 non-null  object
 41  OrgSize                       44334 non-null  object
 42  PlatformDesireNextYear        50605 non-null  object
 43  PlatformWorkedWith            53843 non-null  object
 44  PurchaseWhat                  39364 non-null  object
 45  Sexuality                     43992 non-null  object
 46  SOAccount                     56805 non-null  object
 47  SOComm                        56476 non-null  object
 48  SOPartFreq                    46792 non-null  object
 49  SOVisitFreq                   56970 non-null  object
 50  SurveyEase                    51802 non-null  object
 51  SurveyLength                  51701 non-null  object
 52  Trans                         49345 non-null  object
 53  UndergradMajor                50995 non-null  object
 54  WebframeDesireNextYear        40024 non-null  object
 55  WebframeWorkedWith            42279 non-null  object
 56  WelcomeChange                 52683 non-null  object
 57  WorkWeekHrs                   41151 non-null  float64
 58  YearsCode                     57684 non-null  object
 59  YearsCodePro                  46349 non-null  object
dtypes: float64(4), object(56)
memory usage: 30.0+ MB

In [5]:
pd.set_option('display.max_columns', 61)
pd.set_option('display.max_rows', 61)

In [6]:
# read top 10. default is 5
schema_df.head(10)

                                                    QuestionText
Column
Respondent     Randomized respondent ID number (not in order ...
MainBranch     Which of the following options best describes ...
Hobbyist                                 Do you code as a hobby?
Age            What is your age (in years)? If you prefer not...
Age1stCode     At what age did you write your first line of c...
CompFreq        Is that compensation weekly, monthly, or yearly?
CompTotal      What is your current total compensation (salar...
ConvertedComp  Salary converted to annual USD salaries using ...
Country                                       Where do you live?
CurrencyDesc   Which currency do you use day-to-day? If your ...

### Series
Series is a one-dimensional array like structure with homogeneous data.

### Dataframes
DataFrame is a two-dimensional array with heterogeneous data.

In [7]:
# converting dictionary into dataframe
people = {
    "first": ["Corey", 'Jane', 'John'], 
    "last": ["Schafer", 'Doe', 'Doe'], 
    "email": ["CoreyMSchafer@gmail.com", 'JaneDoe@email.com', 'JohnDoe@email.com']
}

df1 = pd.DataFrame(people)

df1

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@email.com
2   John      Doe        JohnDoe@email.com

In [8]:
# access single column
print(df1['last'])

# access multiple columns
df1[['first','email']]

0    Schafer
1        Doe
2        Doe
Name: last, dtype: object

   first                    email
0  Corey  CoreyMSchafer@gmail.com
1   Jane        JaneDoe@email.com
2   John        JohnDoe@email.com

In [9]:
# grab the columns
df1.columns

Index(['first', 'last', 'email'], dtype='object')

###### loc and iloc

In [10]:
# with iloc we search with index
df.iloc[[0,2], 2]

Respondent
1   NaN
3   NaN
Name: Age, dtype: float64

In [11]:
# with loc we search with label
df1.loc[[0,1], ['last','email']]

      last                    email
0  Schafer  CoreyMSchafer@gmail.com
1      Doe        JaneDoe@email.com

In [12]:
# find from survey how many users code as `hobby`
df['Hobbyist'].value_counts()

Yes    50388
No     14028
Name: Hobbyist, dtype: int64

In [17]:
# get first 10 hobbyist to CompFreq
df.loc[1:10, 'Hobbyist':'CompFreq']

           Hobbyist   Age Age1stCode CompFreq
Respondent
1               Yes   NaN         13  Monthly
2                No   NaN         19      NaN
3               Yes   NaN         15      NaN
4               Yes  25.0         18      NaN
5               Yes  31.0         16      NaN
6                No   NaN         14      NaN
7               Yes   NaN         18  Monthly
8               Yes  36.0         12   Yearly
9                No  30.0         20      NaN
10              Yes  22.0         14   Yearly
11              Yes  23.0         13   Yearly

### Indexes - set reset and use indexes
Set the DataFrame index using existing columns

In [ ]:
# access an index
''' 

df1.set_index('email', inplace=True)

df1.loc['JohnDoe@email.com'] 

'''

In [ ]:
schema_df.loc['Hobbyist', 'QuestionText']

In [ ]:
# sort index alphabetically
schema_df.sort_index()

# sort in descending order
schema_df.sort_index(ascending=False)

#### Using conditonals to filter rows and columns

In [ ]:
# get salary more than 7000 and records only from India and US
countries = ['India', 'United States']

filt = (df['ConvertedComp'] > 70000) & (df['Country'].isin(countries))

df.loc[filt, ['Respondent', 'Country', 'LanguageWorkedWith', 'ConvertedComp']]

In [ ]:
# filter with string method
filt = df['LanguageWorkedWith'].str.contains('Python', na=False)

df.loc[filt, 'LanguageWorkedWith']

#### Updating rows and columns
Modifying data with dataframes

In [ ]:
# replace column names
df1.columns = ['first_name', 'last_name', 'email']

In [ ]:
# lower case column names
df1.columns = [x.lower() for x in df1.columns]

In [ ]:
# rename a column
df.rename(columns={'ConvertedComp': 'SalaryUSD'}, inplace=True)

df[['Respondent', 'SalaryUSD']]

In [ ]:
# update row in a dataframe
df1.loc[2] = ['Sankalp', 'Tambe', 'SankalpTambe@email.com']

In [ ]:
df1.loc[2, 'email'] = 'sankalpptambe@gmail.com'

df1

###### apply, map, applymap, replace

In [ ]:
# apply custom function or lambda
df1['email'] = df1['email'].apply(lambda x: x.lower())

df1

In [ ]:
# apply
df1['email'].apply(len)

In [ ]:
# applymap - applies function to every individual element
df1.applymap(len)

In [ ]:
# map
df['Hobbyist'].map({'Yes': True, 'No': False})

In [ ]:
# replace
df1['first_name'].replace({'Sankalp': 'Monty'})

### Add / remove rows and columns

In [ ]:
df1['full_name'] = df1['first_name'] + ' ' + df1['last_name']

In [ ]:
df1.drop(columns=['first_name', 'last_name'], inplace=True)

df1

In [ ]:
df1[['first', 'last']] = df1['full_name'].str.split(' ', expand=True)

df1

In [ ]:
# append rows
df1.append({'first': 'Aditi'}, ignore_index=True)

In [ ]:
# append a dataframe to another

people = {
    "first": ["Tony", 'Steve'], 
    "last": ["Stark", 'Rogers'], 
    "email": ["tony@avengers.com", 'steve@avengers.com']
}

df2 = pd.DataFrame(people)

df1 = df1.append(df2, ignore_index=True, sort=False)

df1

In [ ]:
# drop an index
df1.drop(index=4)

In [ ]:
filt = df1['last'] == 'Doe'

df1.drop(index=df1[filt].index)

### Sorting Data

In [ ]:
df1.sort_values(by=['last', 'first'], ascending= [False, True] )

In [ ]:
df1.sort_index()

In [ ]:
df.sort_values(by=['Country', 'SalaryUSD'], ascending=[True, False], inplace=True)
df[['Respondent', 'Country', 'SalaryUSD']]

### Grouping and Aggregating
Analyzing and exploring the data

In [ ]:
# median value
df['SalaryUSD'].median()

In [ ]:
# count
df['SalaryUSD'].count()

# distinct value counts
df['Country'].value_counts()

In [ ]:
# group by
country_grp = df.groupby(['Country'])

country_grp.get_group('India')

In [ ]:
country_grp['Hobbyist'].value_counts(normalize=True).loc['India']

In [ ]:
country_grp['SalaryUSD'].median().loc['Germany']

In [ ]:
# aggregate grouped function
country_grp['SalaryUSD'].agg(['mean', 'median'])

In [ ]:
country_grp['SalaryUSD'].agg(['mean', 'median']).loc['India']

In [ ]:
filt = df['Country'] == 'India'
df.loc[filt]['LanguageWorkedWith'].str.contains('Python').sum()

In [ ]:
# country_grp is a seriesGroupby object hence use apply
country_grp['LanguageWorkedWith'].apply(lambda x: x.str.contains('Python').sum())

##### % of people from each county that know python

In [ ]:
country_respondents = df['Country'].value_counts()
country_respondents

In [ ]:
country_use_python = country_grp['LanguageWorkedWith'].apply(lambda x: x.str.contains('Python').sum())

country_use_python

In [ ]:
python_df = pd.concat([country_respondents, country_use_python], axis='columns', sort=False)

python_df

In [ ]:
python_df.rename(columns={'Country': 'Total respondents', 'LanguageWorkedWith':'People who know python'}, inplace=True)

python_df

In [ ]:
python_df['Percent'] = (python_df['People who know python'] / python_df['Total respondents']) * 100

python_df

In [ ]:
python_df.sort_values(by='Percent', ascending=False, inplace=True)

python_df

In [ ]:
python_df.loc['India']

### Cleaning data
Casting datatypes and Handling missing values

In [ ]:
df['YearsCode'].unique()

In [ ]:
df['YearsCode'].replace('Less than 1 year', 0 , inplace=True)
df['YearsCode'].replace('More than 50 years', 51 , inplace=True)

In [ ]:
df['YearsCode'] = df['YearsCode'].astype(float)

In [ ]:
df['YearsCode'].median()

### Working with dates and time series data

In [ ]:
d_parser = lambda x: pd.datetime.strptime(x, '%Y-%m-%d %I-%p')

df2 = pd.read_csv('data/ETH_1h.csv', parse_dates=['Date'], date_parser=d_parser )

df2.head()

In [ ]:
df2['Date'] = pd.to_datetime(df2['Date'], format = '%Y-%m-%d %I-%p')
df2['Date']

In [ ]:
df2.loc[0, 'Date'].day_name()

In [ ]:
df2['Weekday'] = df2['Date'].dt.day_name()

df2

In [ ]:
df2.set_index('Date', inplace=True)

In [ ]:
df2['2020-01': '2020-02']

In [ ]:
highs = df2['High'].resample('D').max()
highs['2020-01-01']

In [ ]:
%matplotlib inline

highs.plot()

### Reading / writing data to different sources - excel, json, sql, etc

In [ ]:
# export to csv format
filt = (df['Country'] == 'India')

india_df = df.loc[filt]

india_df.to_csv('data/output/modified.csv')

india_df.to_csv('data/output/modified.tsv', sep='\t')

In [ ]:
# to excel
india_df.to_excel('data/output/modified.xlsx')

In [ ]:
# to json
india_df.to_json('data/output/modified.json')